{#
/*@file
*Available variables:
*@see template_preprocess_block()
@ingroup themeable
#}

<div class="advert-container">
  <!-- {{ content }} -->
  <a href="http://www.selftrade.co.uk/"><img src="{{ base_path() ~ drupal_get_path('theme',GLOBALS['theme']) }}/images/selftrade-demo-advert.jpg" alt="advert" /></a>
</div>