{#
/*@file
*Available variables:
*@see template_preprocess_block()
*@ingroup themeable
#}
<div class="content blog-article">
  <h1>{{ title }}</h1>
  {{ render(content['body']) }} 
  <div style="text-align: center;">
	  <div class="cf" style="display:inline-block;">
		  <a class="cta-btn" href="https://fairmoney.com/loans/smart-search" style="color: #fff; float: left !important; width: 246px !important; margin-right: 20px; " >Profile Yourself For Free <i class="fa fa-angle-right"></i></a>
		  <a class="cta-btn" href="https://fairmoney.com/faq" style="color: #fff; float: left !important; width: 246px !important; margin-right: 20px; "   >Learn More About FairMoney<i class="fa fa-angle-right"></i></a>
		  <a class="cta-btn" href="https://fairmoney.com/loans" style="color: #fff; float: left !important; width: 246px !important; margin-right: 20px; "   >Browse Our Loans <i class="fa fa-angle-right"></i></a>
	  </div>
  </div>
</div>
