{#
/*@file
*Available variables:
*@see template_preprocess_block()
@ingroup themeable
#}

<div class="advert-container cf">
  {% if (rows) %} 
    {{ rows }}{% elseif (empty) %} 
    {{ empty }}{% endif %} 
  {% endif %} 
</div>